body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
  <style>
            /* fix for opera's user agent default  styles */
            html body{
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: 0;
            }
            </style>
}


canvas {
  height: 100vh;
  width: 100vw;
}
