body {
    background-color: beige;

    //for all content
    .content{
        margin: auto;
        height: auto;
        max-width: 1000px;
        background-color: aqua;
    }
    //for all h1
    h1{
        font-size: 11px;
    }

    .content.hidden{
        display: flex;
        justify-content: space-between;
        background-color: cornflowerblue;

        .land{
            justify-content: start; 
        }
        .contact{
            justify-content: center;
        }
        .socials{
            justify-content: end;
        }
    }

    .content.fixed{
        position: sticky;
        top: 0px;
        display: block;
        background-color:rgb(37, 190, 23);
        height: 100px;
    }


    .content .text{
        height: 900px;
    }
    
    .footer{
        height: 100px;
        margin-top: -100px;
        background-color: darkkhaki;
    }

}